<script>
  $(function() {
    $("#article").squishify({
      article_id:1
    })
  })
</script>

<div id="article"></div>
<div id="explanation">Squishify was made by <a href="https://twitter.com/slifty">@slifty</a>, <a href="https://twitter.com/joannaskaoat">@joannaskaoat</a>, <a href="https://twitter.com/abtran">@abtran</a>, <a href="https://twitter.com/MattAtMIT">@MattAtMIT</a>, and Andrew Vitvitsky at the 2014 <a href="http://opennews.org/">Open News</a> MIT Civic Hackathon.</div>